.container1{
    background-color: rgb(27, 27, 27);
}

.container1 ul{
    color: rgb(199, 139, 29);
    list-style: none;
}

.box {
    background-color: rgb(199, 139, 29);
}

.searchbar {
    background-color: white;
    color: grey;
    border: 1.5px grey;
    margin: 5%;
}

.fa-magnifying-glass{
    color: black;
}


.mainbackground {
    background: url(../images/main-banner.jpg);
    background-size: 100% 100%
}

.bannertext {
    background-color: black;
    opacity: 0.6;
    max-width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
    
}

.bannertext h1{
    color: white;
    font-weight: bold;
    font-size: 50px;
    opacity: 1;
}

.bannertext p{
    color: white;
    opacity: 1;
}

.button1 {
    background-color: rgb(199, 139, 29);
}

.button1 h2{
    opacity: 1;
    color: #ffff;
}

.aboutus {
    background-color: #FCE7B3;
}

.digitalt {
    background-color: #FCE7B3;
}

.market {
    background-color: #FCE7B3;
}

.videop {
    background-color: #FCE7B3;
}

.webdev {
    background-color: #FCE7B3;
}

.prt {
    background-color: #FCE7B3;
}

.vision {
    background: url(../images/vision.jpg);
    background-size: 100% 100%;
}

.vision h1, .vision p {
    color: #ffff;
}

.button7 h2{
    color: #ffff;
}

.jd {
    background-color: #FCE7B3;
}

.br {
    background-color: #FCE7B3;
}

